@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-gray-100 text-gray-900 dark:bg-gray-800 dark:text-gray-100;
  }

  ::selection {
    @apply text-white bg-blue-600;
  }
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.box-shadow-two {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.box-shadow-two:hover {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
}

.box-shadow-dark {
  box-shadow: 0 0 3px 0 rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.box-shadow-dark:hover {
  box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.iframe-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  z-index: 1;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  z-index: 1;
}

.zed {
  z-index: -2;
}

.navbar {
  height: 10vh;
  background: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10rem;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: flex-end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 10vh;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  margin-right: 2rem;
  padding: 6px 16px;
  border-radius: 5px;
}

.nav-item a:hover {
  background: rgb(0, 212, 212);
}

img {
  width: 100%;
  border-radius: 10px;
}

header {
  background: steelblue;
  color: #fff;
  padding: 5px;
  margin-bottom: 40px;
}

header a {
  color: #fff;
}

.header-container {
  max-width: 1152px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

.container {
  max-width: 1152px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  background: #1f2937;
  color: #fff;
  border: 1px solid #858484;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  margin-top: 10px;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: #161616;
}

.btn-back {
  background: #f4f4f4;
  color: #000;
  margin-bottom: 20px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
  margin-top: 20px;
}

.card {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.2); */
}

.card-page {
  padding: 15px 30px;
}

.post-title {
  margin: 10px 0;
}

.post-date {
  /* background: #111827; */
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 3px 10px;
}

.post-body ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.post-body pre {
  background: #1f1f1f;
  color: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 20px 0;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 20px 0;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
  margin: 20px 0;
}

@media (max-width: 900px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .posts {
    grid-template-columns: 1fr;
  }
}
